* {
    box-sizing: border-box;
}

.block__section {
    width: 100%;
    padding: 5% 0;
    background-color: #181b22;
}

.block__section-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.blocks {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.block {
    width: 23%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    transition: all .3s;
    padding: 4% 2% 2% 4%;
}

.title {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.h2__span1 {
    color: #fff;
}

.h2__span2 {
    color: #ff3399;
}

.block:hover {
    border-radius: 4px;
    background-color: #ff3399;
    color: #fff;
    transform: scale(1.09);
    transition: .3s;
}

.block__content {
    max-width: 100%;
}

.block__content p { 
    color: #fff;
}

.block__content h3 {
    color: #fff;
}

.block__img {
    width: 100%;
}

.block__img img {
    width: 90%;
}


@media screen and (max-width: 1200px){
    .block__content p {
        font-size: 12px;
    }
    .block__content h3 {
        font-size: 16px;
    }
    .h2__span1 {
        font-size: 20px;
    }
    .h2__span2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 769px){
    .block__content p {
        font-size: 10px;
    }
    .block__content h3 {
        font-size: 12px;
    }
    .h2__span1 {
        font-size: 18px;
    }
    .h2__span2 {
        font-size: 18px;
    }
}

@media screen and (max-width: 426px){
    .block {
        width: 100%;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .block__img {
        width: 50%;
    }

}

@media screen and (max-width: 376px){
    .block {
        flex-direction: column;
        text-align: center;
    }
    .block__content p {
        font-size: 8px;
    }
    .block__content h3 {
        font-size: 10px;
    }
    .h2__span1 {
        font-size: 14px;
    }
    .h2__span2 {
        font-size: 14px;
    }
}

@media screen and (max-width: 321px){
    .h2__span1 {
        font-size: 12px;
    }
    .h2__span2 {
        font-size: 12px;
    }
}

